body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  box-sizing: border-box;
}

#phase-message {
  width: 80vw;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  border: 15px solid #aeaaaa;

  border-radius: 15px;

  background-color: #006a94;
  color: #83def1;

  font-size: 2em;
}

#board-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4vw;

}

.board-wrapper {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.board {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  gap: 5px;
}

.position {
  width: 100%;
  height: 100%;

  border-radius: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #83def1;

  background-color: #006a94;
  color: #83def1;
}

.position:hover {
  background-color: #83def1;
  color: #006a94;
}

.marked {
  background-color: #a22525;
  color: #fff;
}

.sunk {
  background-color: black;
  color: #fff;
}

.hit {
  background-color: #c68f05;
  color: #fff;
}

#message-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: none;
  justify-content: center;
  align-items: center;

  position: absolute;
}

#message-wrapper {
  padding: 30px;
  background-color: #a59f9f;
  border-radius: 15px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#restart {
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 15px;
  border: none;
  background-color: #000;
  color: #fff;
}

#restart:hover {
  background-color: #fff;
  color: #000;
}


